extends ../layout/layout.admin
    
block content
    div.panel
        div.header
            - if(topic === 'undefined'){
                发布文章
            - }else{
                编辑文章
            - }
        div.inner.post
            - if(typeof(edit_error) !== 'undefined' && edit_error){
            div.alert.alert-danger
                a.close(data-dismiss="alert" href="#")
                strong= edit_error
            -}
            - if(typeof(error) !== 'undefined' && error){
            div.alert.alert-error
                strong= error
            - }
            - if(typeof(action) !=='undefined' && action === "edit"){
            form#create_topic_form(method="post" action="/topic/#{topic._id}/edit")
                fieldset
                    span.tab-selector 文章分类：
                    select#tab-value(name="tab")
                        option(value="")请选择
                        - var tabValue='';
                        - if(typeof(tab) !== 'undefined'){
                        - tabValue = tab;
                        - }
                        - tabs.forEach(function(item){
                            - if(item[0] == tabValue){
                                option(value=item[0] selected) #{item[1]}
                            - }else{
                                option(value=item[0]) #{item[1]}
                            - }
                        - });
                        textarea#title(name="title" rows=1 placeholder="请输入标题" autofocus="") #{topic.title}
                    div.markdown_editor.in_editor
                        div.markdown_in_editor
                            textarea.editor(name="t_content" rows=20)
                                = typeof(topic.content) !== 'undefined' && topic.content || ''
                            div.editor_buttons
                                button.btn.btn-primary 提交
            - }else{
            form#create_topic_form(method="post" action="/topic/create")
                fieldset
                    span.tab-selector 文章分类：
                    select#tab-value(name="tab")
                        option(value="")请选择
                        - var tabValue='';
                        - if(typeof(tab) !== 'undefined'){
                        - tabValue = tab;
                        - }
                        - tabs.forEach(function(item){
                            - if(item[0] == tabValue){
                                option(value=item[0] selected) #{item[1]}
                            - }else{
                                option(value=item[0]) #{item[1]}
                            - }
                        - });
                        textarea#title(name="title" rows=1 placeholder="请输入标题" autofocus="") #{topic_title}
                    div.markdown_editor.in_editor
                        div.markdown_in_editor
                            textarea.editor(name="t_content" rows=20)
                            div.editor_buttons
                                button.btn.btn-primary 提交
            - }

    script(type='text/javascript').
        (function(){
            var editor = new Editor();
            editor.render($('.editor')[0]);
            
            $("#create_topic_form").on('submit', function(e){
                var tabValue = $('#tab-value').val();
                if(!tabValue){
                    alert('请选择文章分类！');
                    $('.submit_btn').button('reset');
                    $('.tab-selector').css('color', 'red');
                    return false;
                }
            });
        })();