extends ../layout/layout

block content
    a.bshareDiv
        script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#000&amp;bgcolor=#DDD&amp;text=分享到&amp;pophcol=1")
        <script type="text/javascript"> bShare.init(); </script>
    article.post
        h3.title.wow.animated.bounceInDown #{topic.title}
        div.meta
            span.type #{topic.type}
            span.view #{topic.visit_count}
            span.date #{topic.friendly_create_at}
        - if(user)
            div.manage_topic
                a(href="/topic/#{topic._id}/edit")
                    i.edit(title="编辑")
                a.del(href="javascript:" data-id="#{topic._id}")
                    i.delete(title="删除")
        div.entry-content.wow.animated.bounceInRight
            div.topic_content
                !{topic.mdContent}
    
    <!-- 多说评论框 start -->
    <div class="ds-thread animated bounceInRight" data-thread-key="#{topic._id}" data-title="#{topic.title}" data-url="www.coolde.cn/topic/#{topic._id}"></div>
    <!-- 多说评论框 end -->

    script(type='text/javascript').
        (function(){
            $('.del').click(function () {
                var topicId = $(this).data('id');
                if (topicId && confirm("确定要删除此话题吗？")) {
                    $.post('/topic/' + topicId + '/delete', function (result) {
                        if (!result.success) {
                            alert(result.message);
                        } else {
                            location.href = '/';
                        }
                    });
                }
                return false;
            });
        })();
        
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        var duoshuoQuery = {short_name:"coolde"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();