extends ../layout/layout

block content
    a.bshareDiv
        script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#000&amp;bgcolor=#DDD&amp;text=分享到&amp;pophcol=1")
        <script type="text/javascript"> bShare.init(); </script>
    article.post
        h3.title #{topic.title}
        div.meta
            span.type #{topic.type}
            span.view #{topic.visit_count}
            span.date #{topic.friendly_create_at}
        - if(user)
            div.manage_topic
                a(href="/topic/#{topic._id}/edit")
                    i.edit(title="编辑")
                a.del(href="javascript:" data-id="#{topic._id}")
                    i.delete(title="删除")
        div.entry-content
            div.topic_content
                !{topic.mdContent}
                
    script(type='text/javascript').
        (function(){
            $('.del').click(function () {
                var topicId = $(this).data('id');
                if (topicId && confirm("确定要删除此话题吗？")) {
                    $.post('/topic/' + topicId + '/delete', function (result) {
                        if (!result.success) {
                            alert(result.message);
                        } else {
                            location.href = '/';
                        }
                    });
                }
                return false;
            });
        })();