extends ../layout/layout

block content
    article.page
        h1.title #{topic.title}
        div.meta
            span.type #{topic.type}
            span.view #{topic.visit_count}
            span.date #{topic.friendly_create_at}
        div.entry-content
            p #{topic.content}
        